@font-face {
  font-family: "iconfont"; /* Project id 1477597 */
  src: url('iconfont.eot?t=1642877766994'); /* IE9 */
  src: url('iconfont.eot?t=1642877766994#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('iconfont.woff2?t=1642877766994') format('woff2'),
       url('iconfont.woff?t=1642877766994') format('woff'),
       url('iconfont.ttf?t=1642877766994') format('truetype'),
       url('iconfont.svg?t=1642877766994#iconfont') format('svg');
}

.iconfont {
  font-family: "iconfont", serif !important;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-qq:before {
  content: "\e66a";
}
.icon-github:before {
  content: "\e72a";
}
.icon-gitee:before {
  content: "\e686";
}
.icon-weibo:before {
  content: "\e62f";
}

.icon-toBottom:before {
  content: "\e6fa";
}

.icon-daoHang:before {
  content: "\e78c";
}

.icon-category:before {
  content: "\e625";
}

.icon-updateTime:before {
  content: "\e6be";
}

.icon-riLi:before {
  content: "\e797";
}

.icon-search:before {
  content: "\e60b";
}

.icon-pingLun:before {
  content: "\e765";
}

.icon-success:before {
  content: "\e635";
}

.icon-error:before {
  content: "\e64a";
}

.iconqunliao:before {
  content: "\e68f";
}

.icon-qrCode:before {
  content: "\e69a";
}

.iconfuzhi:before {
  content: "\ec7a";
}

.icon-top:before {
  content: "\e6a7";
}

.icon-like:before {
  content: "\e60c";
}

.icon-face:before {
  content: "\e644";
}
