@media (prefers-color-scheme: dark) {
  .wangEditor-body {
    color-scheme: dark;
    --w-color-accent-fg: #58a6ff;
    --w-color-border-muted: #21262d;
    --w-color-fg-muted: #8b949e;
    --w-color-border-default: #30363d;
    --w-color-blockquote-backgroud: #0d1117;
    --w-color-canvas-default: #0d1117;
    --w-color-canvas-subtle: #161b22;
  }
}

@media (prefers-color-scheme: light) {
  .wangEditor-body {
    color-scheme: light;
    --w-color-accent-fg: #0969da;
    --w-color-border-muted: hsla(210, 18%, 87%, 1);
    --w-color-fg-muted: #57606a;
    --w-color-border-default: #d0d7de;
    --w-color-blockquote-backgroud: #f1f1f1;
    --w-color-canvas-default: #ffffff;
    --w-color-canvas-subtle: #f6f8fa;
  }
}

.wangEditor-body {
  margin: 0;
  line-height: 2;
  word-break: break-word;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
}

.wangEditor-body::before {
  display: table;
  content: "";
}
.wangEditor-body::after {
  display: table;
  clear: both;
  content: "";
}
.wangEditor-body>*:first-child {
  margin-top: 0 !important;
}
.wangEditor-body>*:last-child {
  margin-bottom: 0 !important;
}
.wangEditor-body [hidden] {
  display: none !important;
}

.wangEditor-body h1, .wangEditor-body h2, .wangEditor-body h3, .wangEditor-body h4, .wangEditor-body h5, .wangEditor-body h6 {
  margin-top: 24px;
  margin-bottom: 16px;
  font-weight: 600;
  line-height: 1.25;
}
.wangEditor-body h1 {
  margin: .67em 0;
  padding-bottom: .3em;
  font-size: 2em;
  border-bottom: 1px solid var(--w-color-border-muted);
}
.wangEditor-body h2 {
  padding-bottom: .3em;
  font-size: 1.5em;
  /* border-bottom: 1px solid var(--w-color-border-muted); */
}
.wangEditor-body h3 {
  font-size: 1.25em;
}
.wangEditor-body h4 {
  font-size: 1em;
}
.wangEditor-body h5 {
  font-size: .875em;
  color: var(--w-color-fg-muted);
}
.wangEditor-body h6 {
  font-size: .85em;
  color: var(--w-color-fg-muted);
}
.wangEditor-body h1 span em, .wangEditor-body h1 span u, .wangEditor-body h1 span s, .wangEditor-body h1 span strong,
.wangEditor-body h2 span em, .wangEditor-body h2 span u, .wangEditor-body h2 span s, .wangEditor-body h2 span strong,
.wangEditor-body h3 span em, .wangEditor-body h3 span u, .wangEditor-body h3 span s, .wangEditor-body h3 span strong,
.wangEditor-body h4 span em, .wangEditor-body h4 span u, .wangEditor-body h4 span s, .wangEditor-body h4 span strong,
.wangEditor-body h5 span em, .wangEditor-body h5 span u, .wangEditor-body h5 span s, .wangEditor-body h5 span strong,
.wangEditor-body h6 span em, .wangEditor-body h6 span u, .wangEditor-body h6 span s, .wangEditor-body h6 span strong {
  font-family: inherit !important;
}

.wangEditor-body a {
  background-color: transparent !important;
  color: var(--w-color-accent-fg) !important;
  text-decoration: none !important;
}
.wangEditor-body a:active, .wangEditor-body a:hover {
  outline-width: 0 !important;
}
.wangEditor-body a:hover {
  text-decoration: underline !important;
}
.wangEditor-body a:not([href]) {
  color: inherit !important;
  text-decoration: none !important;
}

.wangEditor-body p {
  white-space: pre-wrap;
  margin: 10px 0 !important;
}
.wangEditor-body p span u, .wangEditor-body p span u em, .wangEditor-body p span strong, .wangEditor-body p span s {
  font-family: inherit !important;
}

/* .wangEditor-body span.align-right {
  display: block;
  overflow: hidden;
  clear: both;
}
.wangEditor-body span.align-right>span {
  display: block;
  margin: 13px 0 0;
  overflow: hidden;
  text-align: right;
}
.wangEditor-body span.align-right span img {
  margin: 0;
  text-align: right;
}
.wangEditor-body span.float-left {
  display: block;
  float: left;
  margin-right: 13px;
  overflow: hidden;
}
.wangEditor-body span.float-left span {
  margin: 13px 0 0;
}
.wangEditor-body span.float-right {
  display: block;
  float: right;
  margin-left: 13px;
  overflow: hidden;
}
.wangEditor-body span.float-right>span {
  display: block;
  margin: 13px auto 0;
  overflow: hidden;
  text-align: right;
} */

.wangEditor-body blockquote {
  white-space: pre-wrap;
  border-left: 8px solid #d0e5f2;
  padding: 10px 10px;
  margin: 10px 0;
  color: var(--w-color-fg-muted);
  border-left: .25em solid var(--w-color-border-default);
  background-color: var(--w-color-blockquote-backgroud);
}
.wangEditor-body blockquote>:first-child {
  margin-top: 0;
}
.wangEditor-body blockquote>:last-child {
  margin-bottom: 0;
}

.wangEditor-body hr {
  box-sizing: content-box;
  overflow: hidden;
  height: .25em;
  padding: 0;
  margin: 24px 0;
  background-color: var(--w-color-border-default);
  border: 0;
}
.wangEditor-body hr::before {
  display: table;
  content: "";
}
.wangEditor-body hr::after {
  display: table;
  clear: both;
  content: "";
}

.wangEditor-body img {
  text-align: center !important;
  border-style: none;
  display: block;
  margin: 0 auto;
  max-width: 100% !important;
  box-sizing: content-box;
  background-color: var(--w-color-canvas-default) !important;
}
.wangEditor-body p[style='text-align: center;'] img, .wangEditor-body p[style='text-align: justify;'] img {
  margin: 0 auto !important;
}
.wangEditor-body p[style="text-align: right;"] img {
  margin: 0 0 0 auto !important;
}
.wangEditor-body p[style="text-align: left;"] img, .wangEditor-body p:not([style]) img {
  margin: 0 auto 0 0 !important;
}

.wangEditor-body input {
  font: inherit;
  margin: 0;
  overflow: visible;
  line-height: inherit;
}
.wangEditor-body input[type="checkbox"] {
  margin-right: 5px;
  box-sizing: border-box;
  padding: 0;
  vertical-align: middle;
}
.wangEditor-body input[type="checkbox"] {
  cursor: pointer;
  position: relative;
  width: 15px;
  height: 15px;
  font-size: 14px;
}
.wangEditor-body input[type="checkbox"]::after {
  position: absolute;
  top: 0;
  color: #000;
  width: 15px;
  height: 15px;
  display: inline-block;
  visibility: visible;
  padding-left: 0;
  text-align: center;
  content: ' ';
  border-radius: 3px
}
.wangEditor-body input[type="checkbox"]:checked::after {
  content: "✓";
  color: #ffffff;
  font-size: 10px;
  font-weight: bold;
  line-height: 15px;
  background-color: #4290f7;
}

.wangEditor-body ul, .wangEditor-body ol {
  padding-left: 20px !important;
  margin-top: 0;
  margin-bottom: 16px;
}
.wangEditor-body ol ol, .wangEditor-body ul ol {
  list-style-type: lower-roman;
}
.wangEditor-body ul ul ol, .wangEditor-body ul ol ol, .wangEditor-body ol ul ol, .wangEditor-body ol ol ol {
  list-style-type: lower-alpha;
}
.wangEditor-body ul.no-list, .wangEditor-body ol.no-list {
  padding: 0;
  list-style-type: none;
}
.wangEditor-body ul ul, .wangEditor-body ul ol, .wangEditor-body ol ol, .wangEditor-body ol ul {
  margin-top: 0;
  margin-bottom: 0;
}
.wangEditor-body ol[type="1"] {
  list-style-type: decimal !important;
}
.wangEditor-body ol[type=a] {
  list-style-type: lower-alpha !important;
}
.wangEditor-body ol[type=i] {
  list-style-type: lower-roman !important;
}
.wangEditor-body div>ol:not([type]) {
  list-style-type: decimal !important;
}
.wangEditor-body li {
  white-space: pre-wrap !important;
}
.wangEditor-body li+li {
  margin-top: .25em;
}

.wangEditor-body dl {
  padding: 0;
}
.wangEditor-body dl dt {
  padding: 0;
  margin-top: 16px;
  font-size: 1em;
  font-style: italic;
  font-weight: 600;
}
.wangEditor-body dl dd {
  padding: 0 16px;
  margin-bottom: 16px;
}

.wangEditor-body table {
  margin-top: 0;
  margin-bottom: 16px;
  border-spacing: 0;
  border-collapse: collapse;
  display: block;
  width: max-content;
  max-width: 100%;
  overflow: auto;
}
.wangEditor-body td, .wangEditor-body th {
  padding: 0;
  border: 1px solid #ccc;
  min-width: 50px;
  height: 20px;
}
.wangEditor-body table th {
  font-weight: 600;
  background-color: #f1f1f1;
}
.wangEditor-body table th, .wangEditor-body table td {
  padding: 6px 13px;
  border: 1px solid var(--w-color-border-default);
}
.wangEditor-body table tr {
  background-color: var(--w-color-canvas-default);
  border-top: 1px solid var(--w-color-border-muted);
}
.wangEditor-body table tr:nth-child(2n) {
  /* background-color: var(--w-color-canvas-subtle); */
}
.wangEditor-body table img {
  background-color: transparent;
}
.wangEditor-body td[style='text-align: center;'] img, .wangEditor-body td[style='text-align: justify;'] img {
  margin: 0 auto !important;
}
.wangEditor-body td[style="text-align: right;"] img {
  margin: 0 0 0 auto !important;
}
.wangEditor-body td[style="text-align: left;"] img, .wangEditor-body td:not([style]) img {
  margin: 0 auto 0 0 !important;
}

.wangEditor-body code, .markdown-body pre {
  font-family: monospace,monospace;
  font-size: 1em;
}
.wangEditor-body tt, .wangEditor-body code {
  font-family: ui-monospace,SFMono-Regular,SF Mono,Menlo,Consolas,Liberation Mono,monospace;
  font-size: 12px;
}
.wangEditor-body pre {
  margin-top: 0;
  margin-bottom: 16px;
  font-family: ui-monospace,SFMono-Regular,SF Mono,Menlo,Consolas,Liberation Mono,monospace;
  font-size: 12px;
  word-wrap: normal;
}
.wangEditor-body pre code {
  font-size: 100%;
}
.wangEditor-body pre>code {
  padding: 0;
  margin: 0;
  word-break: normal;
  white-space: pre;
  background: transparent;
  border: 0;
}
.wangEditor-body .highlight {
  margin-bottom: 16px;
}
.wangEditor-body .highlight pre {
  margin-bottom: 0;
  word-break: normal;
}
.wangEditor-body .highlight pre, .wangEditor-body pre {
  padding: 16px;
  overflow: auto;
  font-size: 85%;
  line-height: 1.45;
  background-color: var(--w-color-canvas-subtle);
  border-radius: 6px;
}
.wangEditor-body pre code, .wangEditor-body pre tt {
  display: inline;
  /* max-width: auto; */
  padding: 0;
  margin: 0;
  overflow: visible;
  line-height: inherit;
  word-wrap: normal;
  background-color: transparent;
  border: 0;
}
